<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALl Listing Data</title>
</head>
<body>
    <h1>All listing</h1>
    <form method="GET" action="listings/new" >
        <button>New</button>
    </form>
    <ul>
        <% for(let listing of allListing) { %>
        <li>
            <a href="/listings/<%=listing._id%>"><%= listing.title %></a>
        </li>
        <% } %>
    </ul>
</body>
</html>