<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Route</title>
</head>
<body>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="enter title" type="text">
        <hr>
        <textarea name="listing[description]" placeholder="enter description" type="text"></textarea>
        <hr>
        <input name="listing[image.URL]" placeholder="enter image URL/Link" type="text">
        <hr>
        <input name="listing[price]" placeholder="enter price" type="number">
        <hr>
        <input name="listing[location]" placeholder="enter location" type="text">
        <hr>
        <input name="listing[country]" placeholder="enter country" type="text">
        <hr>
        <button>submit</button>
    </form>
</body>
</html>