<% layout("/layouts/boilerplate") %>
<% layout("/layouts/boilerplate") %>


<div class="alert alert-danger col-6 offset-2" role="alert">
    <h4 class="alert-heading">
        <%= message %>  %>
    </h4>
</div>