<% layout("/layouts/boilerplate") %>
<% layout("/layouts/boilerplate") %>


<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-2" role="alert">
        <p class="alert-heading"><%= err.message  %></p>
        
        <!-- stack error not required -->
        <!-- <p><%= err.stack %></p> -->
    </div>
</div>